.modal-container {
    width: 700px;

    position: absolute;
    bottom: 48px;

    background: #1212127c;
    backdrop-filter: blur(22px);
    padding: 22px;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-image: radial-gradient(rgb(255, 255, 255), rgba(250, 225, 66, 0)) 0.5;
    


    display: flex;
    flex-direction: column;

    animation: showModal .5s;
}

/* animação slide quando o modal aparece */
@keyframes showModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.modal-header button {
    border: 0;
    background: transparent;
}

.modal-container span {
    margin: 8px 0 24px;
    color: #A9A9A9;
    font-size: 18px;
}

.modal-link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #000;
    background-color: #fff;

    border: 0;
    border-radius: 20px;

    padding: 12px 20px;
    font-size: 18px;
}

@media (max-width: 735px) {
    .modal-container {
        width: 90%;
    }
}