.container-home {
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo h1 {
    font-size: 60px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    gap: 37px;
}

.logo h1 span {
    color: #EC8D95;
}

.area-input {
    width: 540px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    
    animation: slideY 2s;

    margin-top: 42px;
}

/* animação subindo a área input*/
@keyframes slideY {
    from {
        transform: translateY(90px);
        opacity: 0;
    } 
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.area-input div {
    width: 100%;
    height: 55px;
    background-color: #121212;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;

    border-radius: 50px;
}

.area-input svg {
    margin: 0 8px;
    color: #EDF0F4;
}

.area-input input {
    width: 100%;
    background: transparent;
    border: 0;
    height: 55px;
    color: #fff;
    outline: none;
    font-size: 18px;
    font-weight: 400;
}

.area-input input::placeholder {
    color: #EDF0F4;
}

.area-input button {
    max-width: 304px;
    width: 100%;
    height: 48px;
    border-radius: 50px;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    background-color: #D9E4F6;
    color: #20232A;
    transition: transform .7s;
}

.area-input button:hover {
    transform: scale(1.05);
}

@media (max-width: 615px) {
    .logo h1 {
        font-size: 40px;
    }

    .logo span:nth-child(2) {
        font-size: 14px;
    }

    .area-input {
        width: 85%;
    }

    .area-input button {
        width: 85%;
    }
}