.links-container {
    max-width: 700px;
    height: 100vh;
    margin: 80px auto 0;

}

.links-header {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 24px;
}

.back-home {
    opacity: .5;
    transition: .4s ease;

    position: absolute;
    top: 32px;
    left: 10%;
    
    color: #fff;
    
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 10px;
}

.back-home:hover {
    opacity: 1;
    color: #676BE6;
}

.links-header h1 {
    color: #fff;
}

.links-header a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-item {
    display: flex;
    align-items: center;
    margin-top: 8px;
    width: 700px;
    gap: 20px;
}

.links-item:last-child {
    margin-bottom: 18px;
}

.link {
    min-width: 80%;
    width: 100%;
    height: 79px;
    padding: 0 16px;
    color: #fff;

    background: #1212127c;
    backdrop-filter: blur(22px);
    padding: 22px;

    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    
    display: flex;
    align-items: center;
    gap: 8px;
    
    font-size: 18px;
    font-weight: 400;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-delete {
    min-width: 60px;
    min-height: 60px;
    background: #121212;
    padding: 10px;
    border-radius: 50px;
    border: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-text {
    width: 100%;
    color: rgb(129, 129, 129);
    margin-top: 28px;
}

@media (max-width: 715px) {
    .links-container {
        width: 90%;
    }

    .links-item {
        width: 100%;
    }

    .link svg {
        display: none;
    }
} 