* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;

  background: url('./assets/images/background-elipse-botton.svg') bottom no-repeat, url('./assets/images/background-elipse-right-top.svg') no-repeat top right, url('./assets/images/background-elipse-left-top.svg') no-repeat top left #080808;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}
